body {
  background-color: #0a0014;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: black;
  padding: 20px;
  text-align: center;
}

header span {
  color: #b300ff;
}

main {
  text-align: center;
}

section {
  padding: 40px 20px;
}

section h2 {
  color: #c800ff;
}

p {
  max-width: 700px;
  text-align: left;
  margin: 20px auto;
  color: #ddd;
}

.phrase {
  color: #b300ff;
  font-style: italic;
  text-align: center;
}

article {
  background-color: #12001f;
  border: 1px solid #b300ff;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  margin: 15px auto;
}

article h3 {
  color: #d94dff;
}

footer {
  background-color: black;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.botoes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

/* CAIXOTES */
article {
  background-color: #12001f;
  border: 1px solid #b300ff;
  border-radius: 14px;
  padding: 25px;

  width: 100%;
  min-height: 260px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

article:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 25px rgba(179, 0, 255, 0.4);
}

article h3 {
  color: #d94dff;
  margin-bottom: 6px;
}

article p {
  text-align: center;
  margin: 8px 0 20px;
}


.profile {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  margin-top: auto;

  background-color: #b300ff;
  color: black;
  padding: 12px 22px;

  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;

  transition: all 0.3s ease;
}

.profile:hover {
  background-color: #d94dff;
  box-shadow: 0 0 15px #9b5cff, 0 0 30px #9b5cff;
}

.btn-discord img {
  width: 26px;
}

.funcoes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.funcoes article {
  min-height: 160px;
  padding: 18px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.funcoes article h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.funcoes article p {
  font-size: 14px;
  margin: 0;
  text-align: center;
}
